.main-footer {
  background-color: var(--secondaryColorNormal);
  padding: calc(var(--spacing) * 10);
  text-align: center;
}

.footer-title {
  color: var(--white);
  font-weight: 500;
  font-size: 1.8em;
  padding-bottom: calc(var(--spacing) * 6);
}

.contact-details {
  padding-bottom: calc(var(--spacing) * 1);
  color: var(--white);
}

.contact-details:last-child {
  padding-bottom: 0;
}
