* {
  box-sizing: border-box;
}

body {
  font-family: var(--primaryFont);
  font-weight: 400;
  font-display: optional;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.main-wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 calc(var(--spacing) * 4);
}

p {
  line-height: calc(var(--spacing) * 6);
}

.res-img {
  width: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
