.summary,
.projects {
  background-color: var(--primaryBackgroundColor);
  padding: calc(var(--spacing) * 10) 0;
}

/* START TECH STYLE */
.tech {
  padding: calc(var(--spacing) * 10);
}

.tech-details {
  padding-top: calc(var(--spacing) * 8);
}

.title {
  display: flex;
  justify-content: center;
}

.title-text {
  background-color: var(--mainColorNormal);
  color: var(--white);
  display: inline-block;
  padding: var(--spacing) calc(var(--spacing) * 3);
  border-radius: var(--spacing);
}

.important-tech {
  color: var(--mainColorDark);
}
/* END OF TECH STYLE */

/* START PROJECTS PART */
.projects-list {
  padding-top: calc(var(--spacing) * 8);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: calc(var(--spacing) * 6);
}

.projects-img-cnt {
  position: relative;
}

.projects-item-img {
  height: 250px;
}

.projects-item-title {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

.projects-item-subtitle {
  font-weight: 500;
  color: var(--mainColorDark);
  padding-top: calc(var(--spacing) * 4);
}

.projects-item-description {
  padding-top: calc(var(--spacing) * 2);
}

.projects-item-tech {
  padding-top: calc(var(--spacing) * 2);
  display: flex;
  gap: calc(var(--spacing) * 2);
}

.projects-item-tech-tags {
  background-color: var(--mainColorLight);
  color: var(--black);
  border-radius: var(--spacing);
  padding: var(--spacing) calc(var(--spacing) * 2);
}
/* END OF PROJECTS PART */

/* START OTHER PROJECT PART */
.title-text-other {
  color: var(--mainColorDark);
}

.other-projects-list {
  padding-top: calc(var(--spacing) * 8);
}

.other-projects-item {
  padding-bottom: calc(var(--spacing) * 4);
}

.title-cnt {
  display: flex;
  margin-bottom: calc(var(--spacing) * 2);
}

.title-other {
  color: var(--mainColorDark);
  border-bottom: 1px solid var(--mainColorDark);
}

.description-other {
  border-bottom: 1px solid var(--black);
}

.icon-other {
  color: var(--mainColorDark);
  border-bottom: 1px solid var(--mainColorDark);
  display: flex;
  align-items: center;
}
/* END OF OTHER PROJECT PART */

.time {
  color: var(--mainColorDark);
  font-weight: 500;
  padding: calc(var(--spacing) * 2) 0;
  display: inline-block;
}

/* START SKILL PART STYLE */
.skills-cnt {
  display: flex;
  justify-content: space-between;
  padding: calc(var(--spacing) * 10) 0;
}

.skills-list li {
  padding-bottom: var(--spacing);
}

.skills-title {
  color: var(--mainColorDark);
  font-size: 1em;
  padding-bottom: calc(var(--spacing) * 2);
}
/* END OF SKILL PART STYLE  */

/* START FOR MORE PART STYLE */
.for-more {
  padding: calc(var(--spacing) * 10);
}

.social {
  display: flex;
  justify-content: center;
  gap: calc(var(--spacing) * 10);
  padding: calc(var(--spacing) * 10);
}

.social-icon {
  font-size: 2em;
  color: var(--mainColorNormal);
  border: 2px solid var(--mainColorNormal);
  border-radius: 50%;
  padding: calc(var(--spacing) * 4) calc(var(--spacing) * 4.5);
}

.social-text {
  color: var(--mainColorNormal);
}

/* END OF FOR MORE PART STYLE */
