.summary,
.projects {
  background-color: var(--primaryBackgroundColor);
  padding: calc(var(--spacing) * 10) 0;
}

/* START TECH STYLE */
.tech {
  padding: calc(var(--spacing) * 10);
}

.title {
  display: flex;
  justify-content: center;
}

.title-text {
  background-color: var(--mainColorNormal);
  color: var(--white);
  display: inline-block;
  padding: var(--spacing) calc(var(--spacing) * 3);
  border-radius: var(--spacing);
}

.important-tech {
  color: var(--mainColorNormal);
}
/* END OF TECH STYLE */

/* START PROJECTS PART */
.projects-list {
  padding-top: calc(var(--spacing) * 8);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: calc(var(--spacing) * 6);
}

.projects-img-cnt {
  position: relative;
}

.projects-item-img {
  height: 250px;
}

.projects-item-title {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

.projects-item-subtitle {
  font-weight: 500;
  color: var(--mainColorNormal);
  padding-top: calc(var(--spacing) * 4);
}

.projects-item-description {
  padding-top: calc(var(--spacing) * 2);
}

.projects-item-tech {
  padding-top: calc(var(--spacing) * 2);
  display: flex;
  gap: calc(var(--spacing) * 2);
}

.projects-item-tech-tags {
  background-color: var(--mainColorLight);
  color: var(--white);
  border-radius: var(--spacing);
  padding: var(--spacing) calc(var(--spacing) * 2);
}
/* END OF PROJECTS PART */

/* START OTHER PROJECT PART */
.title-text-other {
  color: var(--mainColorNormal);
  display: inline-block;
  padding: var(--spacing) calc(var(--spacing) * 3);
  border-radius: var(--spacing);
}
/* END OF OTHER PROJECT PART */
