:root {
  /* FONTS */
  --primaryFont: "Roboto", sans-serif;

  /* COLORS */
  --primaryBackgroundColor: hsl(0, 0%, 96%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(236, 100%, 7%);
  --mainColorDark: hsl(30, 100%, 31%);
  --mainColorNormal: hsl(30, 100%, 44%);
  --mainColorLight: rgba(255, 150, 21, 0.68);
  --secondaryColorNormal: hsl(179, 46%, 28%);

  /* SPACING */
  --spacing: 4px;
}
